@use "../../global-mixins.scss" as *;

.player {
    width: 300px;
    background-color: gray;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 4px;
    
    @include flexBox($jc: flex-start);
    
    >img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
    
    >figcaption>span {
        font-size: 24px;
        margin-left: 16px;
    }
}

.player-activ {
    background-color: orange;
}