@use "../../globle-mixins.scss" as *;

section {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    
    @include flexBox();
};

.start-screen {
    background-color: red;
    width: 700px;
    height: 100vh;
    border-style: solid;
    border-color: goldenrod;
    border-width: 12px;
    box-shadow:
        0px 12px 80px 0 rgba(0, 0, 0, 0.5) inset,
        0px -12px 80px 0 rgba(0, 0, 0, 0.5) inset;

    @include flexBox($fd: true, $jc: space-around);
};

.header-text {
    width: 300px;

    @include flexBox($fd: true);

    span {
        color: whitesmoke;

        &:nth-child(1) {
            font-size: 8rem;
        };

        &:nth-child(2) {
            font-size: 4rem;
        };

        &:nth-child(3) {
            font-size: 7rem;
        };
    };
};

.btn-container {

    button {
        width: 300px;
        height: 80px;
        background: linear-gradient(to bottom right, gold, whitesmoke, gold, whitesmoke, gold);
        border-style: none;
        border-radius: 30px;
        box-shadow: 1px 1px 30px black;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
        }

        span {
            font-size: xx-large;
        };
    };
};
